<div class="container">
<div id="idDiv">
  idDiv
</div>
  <!-- Modal -->
  <div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1>Processing...</h1>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100" style="width: 40%">
              <span class="sr-only">40% Complete (success)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="table">
    <tr>
      <th>Alert Id</th>
      <th>Alert Name</th>
      <th>Alert Type</th>
      <th>Occurence</th>
      <th>Status</th>
    </tr>

    <tr *ngFor="let Item of jsonData; let i = index" [attr.data-index]="i">
      <td> {{ Item.AlertId }} </td>
      <td> {{ Item.AlertName }} </td>
      <td>
        <select [(ngModel)]="Item.SelectedAlertType" (ngModelChange)="fnAlertType(Item.AlertId)">
          <option value="-1">--Select--</option>
          <option *ngFor="let ItemAlertType of Item.AlertType" value={{ItemAlertType.key}}>
            {{ ItemAlertType.value }}
          </option>
        </select>

        <div *ngIf="(Item.SelectedAlertType == 0 || Item.SelectedAlertType == 2)">
          SMS: <input type="text" [(ngModel)]="Item.SelectedValueSMS" />
        </div>

        <div *ngIf="(Item.SelectedAlertType == 1 || Item.SelectedAlertType == 2)">
          EMail: <input *ngIf="true" type="text" [(ngModel)]="Item.SelectedValueEMail" />
        </div>
      </td>
      <td>
        <select [(ngModel)]="Item.SelectedOccurence">
          <option value="-1">--Select--</option>
          <option *ngFor="let ItemOccurence of Item.Occurence" value={{ItemOccurence.key}}>
            {{ ItemOccurence.value }}
          </option>
        </select>
      </td>
      <td> {{ Item.Status == 0 ? 'Active' : 'DeActive' }} </td>
    </tr>
  </table>

  {{ diagnostic }}

  <input type="button" (click)="fnSubmit()" value="Click" />

</div>