<div>
  <button id="idQuery" class="btn btn-primary">Jquery</button>

  <div style="float:right">
    <ul class="items-list">
    </ul>
  </div>
  <div class="wrapper">
    <div class="selected-items-box">
      <span class="dropdown-icon"> {{ CustomName }} </span>
    </div>

    <div class="list">
      <ul class="items-list">
        <li>
          <input type="input" [(ngModel)]="selectedfilter" placeholder="Search" />
        </li>
        <li>
          <input type="checkbox" (click)="fnSelectAll();" [(ngModel)]="selectedAll" /> Select All
        </li>
        <li class="cursor" *ngFor="let friend of data | filter : selectedfilter">
          <input type="checkbox" [(ngModel)]="friend.selected" />
          <span>{{friend.name}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>