<app-employee-count *ngIf="employees" [all]="getAllCount()" [male]="getmaleCount()" [female]="getfemaleCount()"
    (radioButtonSelectionChanged)="onEmployeeCountRadioButtonChange($event)">
</app-employee-count>

<br /><br />

<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Annual Salary</th>
            <th>Date of Birth</th>
            <!-- <th>Index</th>
            <th>is First</th>
            <th>is Last</th>
            <th>is Even</th>
            <th>is Odd</th> -->
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let Item of employees; trackBy:trackByEmpCode; let i=index; let isFirst=first; let isLast=last; let isEven=even; let isOdd=odd;">
            <tr *ngIf="selectedEmployeeCountRadioButton == 'All' || selectedEmployeeCountRadioButton == Item.gender">
                <td> {{Item.code}}</td>
                <td> {{Item.name | employeeTitle:Item.gender}}</td>
                <td> {{Item.gender}}</td>
                <td> {{Item.annualSalary | currency: 'USD':true: '1.3'}}</td>
                <!-- <td> {{Item.dateOfBirth | date:'fullDate' | uppercase}}</td> -->
                <td> {{Item.dateOfBirth | date:'dd/MM/y' | uppercase}}</td>
                <!-- <td> {{i}} </td>
            <td> {{isFirst}} </td>
            <td> {{isLast}} </td>
            <td> {{isEven}} </td>
            <td> {{isOdd}} </td> -->
            </tr>
        </ng-container>
        <tr *ngIf="!employees;">
            <td colspan="5"> Loading data, Please wait....</td>
        </tr>
        <tr *ngIf="employees && employees.length == 0">
            <td colspan="5"> No employees to display</td>
        </tr>
    </tbody>
</table>

<br />

<button class="btn btn-primary" (click)="getEmployees()"> Refresh Employees</button>