table{
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-collapse: collapse;
}

td{
    border: 1px solid #369;
    padding: 5px;
}

th{
  border: 1px solid #369;
  padding: 5px  
}