<table>
    <thead>
        <tr>
            <!-- <th attr.colspan="{{columnSpan}}"> -->
            <th [attr.colspan]="columnSpan">
                Employee Details
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                First Name
            </td>
            <td>
                {{firstName}}
            </td>
        </tr>
        <tr>
            <td>
                Last Name
            </td>
            <td>
                {{lastName}}
            </td>
        </tr>
        <tr *ngIf="showDetails">
            <td>
                Gender
            </td>
            <td>
                {{gender}}
            </td>
        </tr>
        <tr *ngIf="showDetails">
            <td>
                Age
            </td>
            <td>
                {{age}}
            </td>
        </tr>
    </tbody>
</table>
<br>
<button (click)="toggleDetails()">
        {{showDetails ? 'Hide' : 'Show'}} Details
</button>