<!-- <h1> 
    Hello {{name}}  <br />
 </h1> -->

<div>
    <!-- <h1> {{'Page Header = ' + pageHeader }} </h1> -->
    <h1> {{ pageHeader ? pageHeader : 'No Header'}} </h1>
    <img src='{{imagePath}}' height="50" width="50" /> <br />
    <img [src]="imagePath" height="50" width="50" />
    <img src='http://www.pragimtech.com/{{imagePath2}}' height="50" width="50" />
    <!-- <button [disabled]='isDisabled'>Click Me</button> -->
    <button disabled='{{isDisabled}}'>Click Me</button>
    <span [innerHtml]='pageHeader'></span>
    <span bind-innerHtml='pageHeader'></span>
    <div> {{badHtml}} </div>
    <div [innerHtml]='badHtml'> {{badHtml}} </div>
    <span bind-innerHtml='badHtml'></span><br />
    <input id="inputId" type="text" value="Tom"><br />
    <input type="button" class="colorClass" [class]="classesToApply" value="My Button"><br />
    <!-- //Replace all existing CSS classes and add one or more classes -->
    <input type="button" class="colorClass" [class.boldClass]="!applyBoldClass" value="My Button"><br />
    <!-- //add or remove a single CSS classe -->
    <input type="button" class="colorClass" [ngClass]="addClasses()" value="My Button"><br />
    <!-- //add or remove multiple CSS classes -->
    <input type="button" style="color: red" [style.fontWeight]="isBold ? 'bold' : 'normal'" value="My Button">
    <input type="button" style="color: red" [style.font-size.px]="fontSize" value="My Button">
    <input type="button" style="color: red" [ngStyle]="addStyles()" value="My Button">
    <button (click)="onClick()">My Button</button>
    <button on-click="onClick()">My Button</button><br>
    name : <input [(ngModel)]="names"><br>
    You entered : {{names}}
    <br />
    <br />
    <br />
    Your Text : <input type="text" [(ngModel)]="userText" />
    <br />
    <br />
    <app-simple [simpleInput]='userText'></app-simple>
    <br />

    FullName : {{ getFullName() }}
    <app-employee></app-employee>
    <br>
    <app-list-employees></app-list-employees> <br />
    <app-combobox CustomName="Select" [data]="friends"></app-combobox>
    <br />

    <input type="text" [(ngModel)]="SelectedInput">
    <p appDirCustom politicianAuthor="{{SelectedInput}}" politicianQuote="Government of the people, by the people, for the people, shall not perish from the Earth.">Highlight
        me!
    </p>

    <br />
    <div *ngIf="hero">{{hero}}</div>
    <ng-template [ngIf]="hero">
        <div>{{hero}}</div>
    </ng-template>
    <br />
    <app-ngmaterial></app-ngmaterial>
    <br />
    <app-aggrid></app-aggrid>
    <br />    
    <app-ng2-table></app-ng2-table>
    <br /> 
    <app-cpalert></app-cpalert>
    <br /> 
    <app-firebase></app-firebase>
    <br /> 
    <app-scroller></app-scroller>
    <br />    
</div>