<p>
  <button mat-button>Click me!</button>

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">Bold</mat-button-toggle>
    <mat-button-toggle value="italic">Italic</mat-button-toggle>
    <mat-button-toggle value="underline">Underline</mat-button-toggle>
  </mat-button-toggle-group>

</p>

<p>
  <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
</p>

<p>
  Button with a badge on the left
  <button mat-raised-button color="primary" matBadge="{{matBadge}}" matBadgePosition="before" matBadgeColor="accent">
    Action
  </button>
</p>

<br />
<dialog-overview-example>loading</dialog-overview-example>
<button mat-raised-button matTooltip="Info about the action" matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip"
  class="example-button">
  Red-tooltip Action
</button>
<br />
<mat-selection-list #shoes>
  <mat-list-option *ngFor="let shoe of typesOfShoes">
    {{shoe}}
  </mat-list-option>
</mat-selection-list>
<br />
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div class="noselect">
  slider :
  <mat-slider (input)="onInputChange($event)" thumbLabel [displayWith]="formatLabel" tickInterval="10" min="1" max="50"></mat-slider>
</div>

<div *ngFor="let Item of numbers">
  <app-checkbox [sliderValue]="sliderValue"></app-checkbox>
</div>

<!-- 
<div *ngFor="let Item of data">
  <input type="checkbox" />{{Item.name}}
</div> 
-->