<p>
  firebase works!
</p>
<ul>
  <!-- <li *ngFor="let book of books | async">
    <pre>{{ book | json }}</pre>
  </li> -->
</ul>

<button (click)="addBook()">Add a book!</button>
<button (click)="filterBooks()">Filter books</button>